@font-face {
  font-family: PixelEmulator;
  src: url(../fonts/PixelEmulator.ttf);
}

@font-face {
  font-family: Flexi;
  src: url(../fonts/Flexi_437.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'JetBrains';
  src: url('../fonts/JetBrains.ttf') format('woff2');
  font-weight: normal;

}

*{
  margin: 0;
  padding: 0
}



body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
}

.glass-overlay {
    transform: scaleY(1);
    height: 1000px;
    width: 1000px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: saturate(150%) blur(8px);
    position:fixed;
    z-index: 2;
    transition: transform 400ms ease 0ms;
  }

  canvas{
    /* position:fixed; */
    z-index: 1;
  }

  .cursor-canvas{
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }

  .main-outside-container{
    display: flex;
    flex-direction: column;
    
  }

  .section-container{

    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .about-title-container-div{
      display: flex;
      margin: 5px;
  }

  .about-container{
    border: 2px solid rgba(179, 179, 179, 0.529);
    border-radius: 5px;
  }

  .about-body-container-div{
    display: flex;
    padding: 5px;
  }

  .about-body-paragraph{
    font-family: Flexi;
    color: rgba(227, 227, 227, 0.696);
    margin: 15px;
  }

  .links-title-container-div{
      display: flex;
      margin: 5px;    
  }

  .links-container{
    border: 2px solid rgba(179, 179, 179, 0.529);
    border-radius: 5px;
  }

  .socials-list{

  }

  .social-link-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .social-icon{
    height: 25px;
    width: auto;
  }

  .social-link{
    text-decoration: none;
    font-family: Flexi;
    font-size: .7rem;
    color: white;
  }

  .status-title-container-div{
    display: flex;
    margin: 5px;
}

  .status-container{
    border: 2px solid rgba(179, 179, 179, 0.529);
    border-radius: 5px;
    height:fit-content;
  }

  .status-body-container-div{
    display: flex;
    padding: 5px;
  }

  .status-body-paragraph{
    font-family: Flexi;
    color: rgba(227, 227, 227, 0.696);
    margin: 15px;
  }

  .status-timestamp-text{
    font-size: .5rem;
    font-family: Flexi;
    color: rgba(227, 227, 227, 0.41);
    margin-left: 15px;
  }

  .status-datestamp-text{
    font-size: .75rem;
    font-family: Flexi;
    color: rgba(227, 227, 227, 0.41);
    margin-left: 15px;
  }

  .music-title-container-div{
    display: flex;
    margin: 5px;
}

  .music-container{
    border: 2px solid rgba(179, 179, 179, 0.529);
    border-radius: 5px;
    height:fit-content;
  }

  /* .music-content-row{
    display: flex;
    justify-content: center;
  } */

  .music-body-container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .music-body-paragraph{
    display: flex;
    flex-direction: column;
    font-family: Flexi;
    color: rgba(227, 227, 227, 0.696);
    margin: 15px;
    display: block;
  }

  p .music-body-paragraph{
      font-size: .7rem;
  }

  .album-art{
    height: 30px;
    width: auto;
  }

  #listened-time-ago{
    font-size: .7rem;
    color: rgba(134, 134, 134, 0.752);
  }

  .chat-title-container-div{

  }

  .chat-container-div{
    display: flex;
    flex-direction: column;
    font-family: Flexi;
    height: 200px;
    background-color: rgb(39, 39, 39);
    overflow-y: auto;
  }

  .chat-message-div{
  }

  .chat-message{
    font-family: Verdana, Tahoma, sans-serif;
  }

  .chat-message-user-name{
    color:rgb(96, 96, 96);
    font-size: .6rem;
    font-weight: 600;
  }

  .chat-message-text{
    color: azure;
    font-size: .6rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .chat-settings-icon{
    height:20px;
    width:20px;
  }

  .new-chat-message-input{
    background-color: rgb(39, 39, 39);
    color: azure;
    font-size: .6rem;
    width: 100%;
  }

  .new-message-container-div{
    font-family: Verdana, Tahoma, sans-serif;
    padding: 5px;
  }

  .send-message-button{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #0d4349;
    color: white;
  }

  .username-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .username-display{
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(10, 119, 119);
    font-size: .6rem;
  }

  .message-user-name{
    color: rgba(160, 160, 160, 0.611);
  }

  .message-paragraph{
    color: rgb(255, 255, 255)
  }
  
  .send-message-button{
    background-color:  rgb(242, 178, 214);
    border: none;
    font-family: Flexi;
  }

  #system-message{
    font-weight: 600;
    font-family: 'JetBrains'
  }

  .hidden{
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
  }

  .small-icon{
    width: 25px;
    height: auto;
  }

  .section-title {
    font-family: PixelEmulator;
    color: rgb(178, 234, 242);
    height: 1rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    margin-bottom: 5px;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

    @keyframes green-glow {
    from {
      text-shadow: 0 0 20px #9bf4ab;
    }
    to {
      text-shadow: 0 0 30px #34c16c, 0 0 10px #1b4d1b;
    }
  }